#efeito {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.destaque {
  margin-top: 1rem;
  background-color: orange;
  width: 200px !important;
}

.encolher {
  margin-top: 1rem;
  background-color: lightsalmon;
  width: 50px !important;
}

.perigo {
  padding: 0.5rem;
  background-color: crimson;
}

.quadrado {
  width: 100px;
  height: 100px;
}

.direita {
  float: right;
}

.barra-progresso {
  width: 380px;
  height: 30px;
  border: 1px solid crimson;
}

.progresso {
  height: 100%;
  background-color: tomato;
}
